<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X{marcaLog} %logger{36}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/spring-webapp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>spring-webapp.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X{marcaLog} %logger{36}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="es.aarmenta.templates" level="info"/>
	<!-- Loggers con los que se pueden ver las querys y sus parametros -->
	<!-- logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
	<logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="trace"/-->

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>